<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\ReservaCabanasSite.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
        </environmentVariables>
      </aspNetCore>
      
      <!-- Habilita errores detallados para diagnóstico -->
      <httpErrors errorMode="Detailed" />
    </system.webServer>
    
    <system.web>
      <customErrors mode="Off"/>
    </system.web>
  </location>
</configuration>
<!--ProjectGuid: EEAF81E0-60C1-DCC4-B67B-F81D08FE43D1-->